@page "/CustomerAccountOverview"

<h1 class = "page-title">All Customer Accounts</h1>
@if(customerAccounts == null)
{
    <p><em>Loading Please Wait!</em></p>
}

else
{
    <table class = "table">
        <thead>
            <th>Customer Id</th>
                <th>Account Number</th>
                <th>Status</th>
                <th>Action</th>
        </thead>
        <tbody>
            @foreach (var temp in customerAccounts)
            {
                <tr>
                    <td>@temp.CustomerId</td>
                    <td>@temp.AccountNumber</td>
                    <td>@temp.Status</td>
                   
<td>
                            <a href = "@($"CustomerAccountEdit/{temp.CustomerId}")" class = "btn btn-primary w-60">Change status</a>
                            </td>
                   
                            <td>
                            <a href = "@($"CustomerDetails/{temp.CustomerId}")" class = "btn btn-primary w-60">More Info</a>
                            </td>
                        
                </tr>
            }
            
        </tbody>
    </table>
}

